<main class="container-fluid">
  <div class="nav navbar-default">
    <div class="nav navbar-nav navbar-right">
      <input class="form-control filter" placeholder="חפש מוצר לפי שם" type="text" [(ngModel)]="term">
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="./edit-product/new">הוספת מוצר</a></li>
    </ul>
  </div>
  <h2 class="bold">מוצרים</h2>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>שם מוצר</th>
        <th>מק"ט</th>
        <th>מחיר ללא מע"מ</th>
        <th>מחיר כולל מע"מ</th>
        <th>עדכון מוצר</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products|filter:term">
        <td>{{product.productName}}</td>
        <td>{{product.catalogNumber}}</td>
        <td>{{product.priceWithoutVAT|number:'1.3'}} ₪</td>
        <td>{{ calcVAT(product.priceWithoutVAT,17)|number:'1.3'}} ₪</td>


        <td><a routerLink="./edit-product/{{product.productName}}" class="btn btn-info">עדכון מוצר</a></td>
      </tr>

    </tbody>
  </table>
</main>
