<div class="container-fluid">
  <div *ngFor="let prod of numberOfNewProducts|loop;let i = index">


    <div class="row">
      <div class="col-xs-10">
          <input class="form-control" id="prodName" type="text" [value]="productToEdit[0].productName">
      </div>

      <div class="col-xs-2">
        <label for="prodName">שם מוצר</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control" id="catalogNumber" type="text" [value]="productToEdit[0].catalogNumber">
      </div>

      <div class="col-xs-2">
        <label for="catalogNumber">מק"ט</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control" id="priceWithVAT"  [(ngModel)]="pricesWithVAT[i] "  (input)="removeVAT(i)"  type="number">
      </div>

      <div class="col-xs-2">
        <label for="priceWithVAT">מחיר כולל מע"מ</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control" id="priceWithoutVAT" [value]="productToEdit[0].price" [(ngModel)]="pricesWithoutVAT[i]" (input)="addVAT(i)" type="number">
      </div>

      <div class="col-xs-2">
        <label for="priceWithoutVAT">מחיר ללא מע"מ</label>
      </div>
    </div>



  <span class="hr"></span>
  </div>
<div class="row">
  <button *ngIf="productName == 'new'" class="btn btn-info anotherProduct" (click)="anotherProduct()">מוצר נוסף</button>
  <button class="btn btn-success submit" type="submit">סיום</button>
</div>
</div>
