<div class="container-fluid">

  <div class="row">
    <h1>{{clientName}}</h1>
  </div>

  <div class="row">
    <table class="table table-striped">

      <tr>
        <td>שם לקוח:</td>
        <td>{{clientData[0].clientName}}</td>
        <td>אתר אינטרנט:</td>
        <td>{{clientData[0].website}}</td>
      </tr>
      <tr>
        <td>שם איש קשר:</td>
        <td>{{clientData[0].contactName}}</td>
        <td>עיר</td>
        <td>{{clientData[0].address.city}}</td>
      </tr>
      <tr>
        <td>מספר טלפון של איש הקשר</td>
        <td>{{clientData[0].contactPhone}}</td>
        <td>כתובת</td>
        <td>{{clientData[0].address.street}} {{clientData[0].address.streetNumber}}, {{clientData[0].address.apartmentNumber}}, {{clientData[0].address.zip}}</td>
      </tr>
      <tr>
        <td>מספר טלפון</td>
        <td>{{clientData[0].phone}}</td>
        <td>שעות פעילות</td>
        <td>{{clientData[0].openingHouer}} - {{clientData[0].closingHouer}}</td>
      </tr>
      <tr>
        <td>מספר טלפון נוסף</td>
        <td>{{clientData[0].phone2}}</td>
        <td>מידע נוסף אופציאונאלי</td>
        <td>{{clientData[0].optional}}</td>
      </tr>
      <tr>
        <td>פקס:</td>
        <td>{{clientData[0].fax}}</td>
        <td>מידע נוסף אופציאונלי 2:</td>
        <td>{{clientData[0].optional2}}</td>
      </tr>
      <tr>
        <td>דואר אלקטרוני:</td>
        <td>{{clientData[0].email}}</td>
        <td>מידע נוסף אופציאונאלי 3:</td>
        <td>{{clientData[0].optional3}}</td>
      </tr>
    </table>
  </div>
</div>
