
h3{
  text-align: center;
  font-weight: bold;
}

.openingHouers{
  width:45%;
  display: inline-block;
}

.container-fluid{
  direction: ltr;
}
.row{
  padding-top: 5px;
  padding-bottom: 5px;
}

.row:nth-child(even){
  background-color: #353a41;
}

.noBGchange{
  background-color:inherit;
}

.address-input{
  width:23%;
  display: inline-block;

}

.address-div{
  direction: ltr;
  margin:0;
}



/*tooltip system*/
.relative{
  position:relative;

}
.tool-tip{
background-color: #000;
padding: 5px;
border-radius: 5px;
z-index:1;
position: absolute;
left:5px;
top:30px;
visibility: hidden;

}


input:hover + .tool-tip{
  visibility: visible;
}
