<main class="container-fluid">
  <div class="row">
    <h1>הזמנה יוצאת חדשה</h1>
  </div>
  <div class="row">


    <div class="col-sm-11">
      <select [(ngModel)]="selectedClient" #clientSelect (change)="getProducts();clientSelect.disabled = true" class="form-control">
        <option value=""></option>
        <option *ngFor="let client of clients" [value]="client.clientName">{{client.clientName}}</option>
      </select>
    </div>
    <div class="col-sm-1">לקוח :</div>
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="selectedClient != null">

      <table class="table">
        <thead>
          <th>מק"ט</th>
          <th>שם מוצר</th>
          <th>מחיר ליחידה</th>
          <th>כמות</th>
          <th>מחיר</th>
        </thead>
        <tbody>
          <tr *ngFor="let prod of numberOfProducts|loop;let i = index">
            <td>
              <input list="CatNumList" type="text" #catNum class="form-control" [value]="order.products[i].catalogNumber" (change)="completeForm('catNum',i,catNum.value)">
              <datalist id="CatNumList">
                <option *ngFor="let product of products" [value]="product.catalogNumber" >
              </datalist>
            </td>
            <td>
              <input list="prodName" type="text" #prodName class="form-control" [value]="order.products[i].productName" (change)="completeForm('prodName',i,prodName.value)">
              <datalist id="prodName">
                <option *ngFor="let product of products" [value]="product.productName">
              </datalist>
            </td>
            <td>
              <input type="number" class="form-control" #priceForEach [value]="order.products[i].priceWithoutVAT" id="priceForEach">
            </td>
            <td>
              <input type="number" #amount class="form-control" (change)="changeTotalPrice(priceForEach.value,amount.value,i)" id="amount">
            </td>
            <td>
              <input type="number" class="form-control" [value]="totalPrices[i]" id="totalPrice">
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row" *ngIf="selectedClient != null">
    <div class="col-sm-3">
      <table class="table">
        <tr>
          <td>מחיר:</td>
          <td>{{totalPrices.reduce(addPrices)}}</td>
        </tr>
        <tr>
          <td>מע"מ:</td>
          <td>{{(17/100)*totalPrices.reduce(addPrices)}}</td>
        </tr>
        <tr>
          <td>סה"כ</td>
          <td>{{((17/100)*totalPrices.reduce(addPrices))+totalPrices.reduce(addPrices)}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-9"><button class="btn btn-info" (click)="addProduct()">מוצר נוסף</button></div>
  </div>

</main>
