<main class="container-fluid">
<div class="row">
<span class="filter">
  <div class="col-md-1">
    <a routerLink="/suppliers/edit-product/{{companyName}}/new" class="btn btn-info">הוסף מוצר</a>
  </div>

  <div class="col-md-11">
  <input class="form-control" placeholder="סנן מוצרים לפי שם" type="text" [(ngModel)]="term">
  </div>
</span>
</div>
<div class="row">


  <table class="table table-striped">
    <tr>
      <td class="th">שם מוצר</td>
      <td class="th">מק"ט</td>
      <td class="th">מחיר ללא מע"מ</td>
      <td class="th">מחיר כולל מע"מ</td>
      <td class="th">עדכון מוצר</td>
    </tr>
    <tr *ngFor="let prod of SupplierProducts|filter:term">
      <td>{{prod.productName}}</td>
      <td>{{prod.catalogNumber}}</td>
      <td>{{calcVAT(prod.price,17)}}₪</td>
      <td>{{prod.price}}₪</td>
      <td><a routerLink="/suppliers/edit-product/{{companyName}}/{{prod.productName}}">עדכון</a></td>
    </tr>
  </table>

  </div>
</main>
