<main class="container-fluid">
  <div class="nav navbar-default">
    <div class="nav navbar-nav navbar-right">
      <input class="form-control filter" placeholder="חפש לקוח לפי שם" type="text" [(ngModel)]="term">
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="./edit-client/new">הוספת לקוח</a></li>
    </ul>
  </div>
  <h2 class="bold">לקוחות</h2>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>שם</th>
        <th>טלפון</th>
        <th>טלפון נוסף</th>
        <th>פקס</th>
        <th>אמייל</th>
        <th>עוד פרטים</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients|filter:term">
        <td>{{client.clientName}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.phone2}}</td>
        <td>{{client.fax}}</td>
        <td>{{client.email}}</td>
        <td><a routerLink="./client-info/{{client.clientName}}" class="btn btn-info">עוד פרטים</a></td>
      </tr>

    </tbody>
  </table>
</main>
