<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar-right">
      <span href="#" class="navbar-brand navbar-right">BizManagement</span>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <li routerLinkActive="active"><a routerLink="/products">מוצרים</a></li>
      <li routerLinkActive="active"><a routerLink="/clients">לקוחות</a></li>
      <li routerLinkActive="active"><a routerLink="/suppliers">ספקים</a></li>
      <li routerLinkActive="active"><a routerLink="/home">דף בית</a></li>
    </ul>
    <a  routerLinkActive="active" routerLink="/incoming-order" class="btn btn-default navbar-btn">הזמנה נכנסת</a>
    <a routerLinkActive="active" routerLink="/outgoing-order" class="btn btn-default navbar-btn">הזמנה יוצאת</a>
    <a class="exit-btn btn btn-danger navbar-btn">יציאה</a>
  </div>
</div>
