<main class="container-fluid">
  <div class="row noBGchange">
    <h3>{{supplier[0].companyName}}</h3></div>
  <div class="row">
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].website"></div>
    <div class="col-sm-3">
      <p>אתר אינטרנט:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].companyName"></div>
    <div class="col-sm-3">
      <p>שם חברה:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].address.city"></div>
    <div class="col-sm-3">
      <p>עיר:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].contactName"></div>
    <div class="col-sm-3">
      <p>שם איש קשר:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 address-div">
      <span class="relative">
        <input type="text" class="form-control address-input" [(ngModel)]="supplier[0].address.street" placeholder="רחוב">
        <span class="tool-tip">רחוב</span>
      </span>

      <span class="relative">
      <input type="text" class="form-control address-input" [(ngModel)]="supplier[0].address.streetNumber" placeholder="מספר בית">
      <span class="tool-tip">מספר בית</span>
      </span>

      <span class="relative">
      <input type="text" class="form-control address-input" [(ngModel)]="supplier[0].address.apartmentNumber" placeholder="מספר דירה">
      <span class="tool-tip">מספר דירה</span>
      </span>

        <span class="relative">
          <input type="text" class="form-control address-input" [(ngModel)]="supplier[0].address.zip" placeholder="מיקוד">
          <span class="tool-tip">מיקוד</span>
        </span>
    </div>
    <div class="col-sm-3">
      <p>כתובת:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].contactPhone"></div>
    <div class="col-sm-3">
      <p>מספר הטלפון של איש הקשר:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <span class="relative">
      <input type="text" [(ngModel)]="supplier[0].openingHouer" class="form-control openingHouers">
      <span class="tool-tip">שעת פתיחה</span>
      </span>
      -
      <span class="relative">
      <input [(ngModel)]="supplier[0].closingHouer" type="text" class="form-control openingHouers">
      <span class="tool-tip">שעת סגירה</span>
      </span>

    </div>
    <div class="col-sm-3">
      <p>שעות פעילות:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].phone"></div>
    <div class="col-sm-3">
      <p>מספר טלפון:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].optional"></div>
    <div class="col-sm-3">
      <p>מידע נוסף אופציאונלי:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].phone2"></div>
    <div class="col-sm-3">
      <p>מספר טלפון נוסף:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].optional2"></div>
    <div class="col-sm-3">
      <p>מידע נוסף אופציאונלי 2:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].fax"></div>
    <div class="col-sm-3">
      <p>פקס:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].optional3"></div>
    <div class="col-sm-3">
      <p>מידע נוסף אופציאונלי 3:</p>
    </div>
    <div class="col-sm-3"><input type="text" class="form-control" [(ngModel)]="supplier[0].email"></div>
    <div class="col-sm-3">
      <p>דואר אלקטרוני:</p>
    </div>
  </div>

  <div class="row noBGchange">
    <a href="" class="btn btn-success">שליחה</a>
  </div>

</main>
