<ul class="nav nav-tabs">

  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">פרטי לקוח</a></li>
  <li routerLinkActive="active"><a routerLink="./orders">הזמנות</a></li>


  <a href="" class="btn btn-danger" disabled>מחק לקוח</a>
  <a routerLink="/clients/edit-client/{{routeID}}" class="btn btn-primary">ערוך לקוח</a>

</ul>

<router-outlet></router-outlet>
