
<main class="container-fluid">

<h3>{{supplier[0].companyName}}</h3>
<table class="table table-striped">
  <tr>
    <td>שם החברה:</td>
    <td>{{supplier[0].companyName}}</td>
    <td>אתר אינטרנט:</td>
    <td>{{supplier[0].website}}</td>
  </tr>
  <tr>
    <td>שם איש קשר:</td>
    <td>{{supplier[0].contactName}}</td>
    <td>עיר:</td>
    <td>{{supplier[0].address.city}}</td>
  </tr>
  <tr>
    <td>מספר טלפון של איש הקשר:</td>
    <td>{{supplier[0].contactPhone}}</td>

    <td>כתובת:</td>
    <td>{{supplier[0].address.street}} {{supplier[0].address.streetNumber}}, {{supplier[0].address.apartmentNumber}}, {{supplier[0].address.zip}}</td>
  </tr>
  <tr>
    <td>מספר טלפון:</td>
    <td>{{supplier[0].phone}}</td>
    <td>שעות פעילות:</td>
    <td>{{supplier[0].openingHouer}} - {{supplier[0].closingHouer}}</td>
  </tr>
  <tr>

    <td>מספר טלפון נוסף:</td>
    <td>{{supplier[0].phone2}}</td>
    <td>מידע נוסף אופציאונלי</td>
    <td>{{supplier[0].optional}} </td>
  </tr>

  <tr>
    <td>פקס:</td>
    <td>{{supplier[0].fax}}</td>
    <td>מידע נוסף אפציאונלי 2</td>
    <td>{{supplier[0].optional2}}</td>
  </tr>
  <tr>
    <td>דואר אלקטרוני:</td>
    <td>{{supplier[0].email}}</td>
    <td>מידע נוסף אופציאונלי 3:</td>
    <td>{{supplier[0].optional3}}</td>
  </tr>
</table>
</main>
