<ul class="nav nav-tabs">

  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">פרטי ספק</a></li>
  <li routerLinkActive="active"><a routerLink="../{{key}}/orders">הזמנות</a></li>
  <li routerLinkActive="active"><a routerLink="../{{key}}/product-list">מוצרי ספק</a></li>

  <a href="" class="btn btn-danger" disabled>מחק ספק</a>
  <a routerLink="/suppliers/edit-supplier/{{key}}" class="btn btn-primary">ערוך ספק</a>

</ul>

<router-outlet></router-outlet>
