table{
  margin-top: 30px;
}

td{
  text-align: center;
}

.submit{
  float: left;
}

h4{
  margin-top: 10px;
  text-align: center;
}


.hr{
  width:100%;
  display: inline-block;
  border-bottom: 2px solid #eee;
  margin:0;
}



.row{
  line-height: 50px;
}

.row input{
  margin-top:10px;
}
