
<div class="container-fluid">
  <div *ngFor="let prod of numberOfNewProducts|loop;let i = index">


    <div class="row">
      <div class="col-xs-10">
          <input class="form-control"  type="text" [value]="productToEdit[0].productName">
      </div>

      <div class="col-xs-2">
        שם מוצר
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control" type="text" [value]="productToEdit[0].catalogNumber">
      </div>

      <div class="col-xs-2">
    מק"ט
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control"  [(ngModel)]="pricesWithVAT[i] "  (input)="removeVAT(i)"  type="number">
      </div>

      <div class="col-xs-2">
        מחיר כולל מע"מ
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
          <input class="form-control"  [value]="productToEdit[0].price" [(ngModel)]="pricesWithoutVAT[i]" (input)="addVAT(i)" type="number">
      </div>

      <div class="col-xs-2">
        מחיר ללא מע"מ
      </div>
    </div>



  <span class="hr"></span>
  </div>
<div class="row">
  <button *ngIf="productName == 'new'" class="btn btn-info anotherProduct" (click)="anotherProduct()">מוצר נוסף</button>
  <button class="btn btn-success submit" type="submit">סיום</button>
</div>
</div>
