<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <h1>הזמנות {{routeID}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
          <thead>
            <th>מספר הזמנה</th>
            <th>תאריך</th>
            <th>מחיר</th>
            <th>נשלחה</th>
            <th>פרטים מלאים</th>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.orderNumber}}</td>
              <td>{{order.date}}</td>
              <td>{{order.totalPrice}}</td>
              <td><span class="glyphicon" [ngClass]="addClasses(order.delivered)"></span></td>
              <td><a  class="btn btn-info">פרטים מלאים</a></td>
            </tr>


          </tbody>


      </table>
    </div>
  </div>
</div>
