<main class="container-fluid">
  <div class="nav navbar-default">
    <div class="nav navbar-nav navbar-right">
      <input class="form-control filter" placeholder="סנן ספק לפי שם" type="text" [(ngModel)]="term">
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="./edit-supplier/new">הוספת ספק</a></li>
    </ul>
  </div>

  <h2 class="bold">ספקים</h2>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>שם</th>
      <th>טלפון</th>
      <th>טלפון נוסף</th>
      <th>פקס</th>
      <th>אמייל</th>
      <th>עוד פרטים</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let supplier of suppliers|filter:term">
      <td>{{supplier.companyName}}</td>
      <td>{{supplier.phone}}</td>
      <td>{{supplier.phone2}}</td>
      <td>{{supplier.fax}}</td>
      <td>{{supplier.email}}</td>
      <td><a routerLink="supplierPage/{{supplier.companyName}}" class="btn btn-info">עוד פרטים</a></td>
    </tr>

    </tbody>
  </table>
</main>
