*{
  text-align: center;
}

main{
  padding:0;
}


.bold{
  font-weight: bolder;
}

div.navbar-right{
  padding-right: 25px;
  width:80%;
}

input.filter{
  width:100%;
  margin-top: 6px;
  margin-bottom: 4px;
  float:right;
}
